html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
#site-landing {
    position:relative;
    height: 40rem;
    width: 100%;
    background-image: linear-gradient(to top, #191919 0%, #000 100%);
}

.logo  p{
  position: absolute;
  color: #fff;
  top: 3rem;
  left: 2em;
  z-index: 9999;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;

}
.container p{
  position: absolute;
  color: #fff;
  top: 14rem;
  left: 40%;
  z-index: 9999;

  margin-bottom: .2rem;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;

}


.container h1{
  position: absolute;
  color: #fff;
  top: 16.5rem;
  left: 44%;
  z-index: 9999;
  font-size: 220%;
  margin-bottom: .2rem;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;


}



.logo span {
    color: #16c0f0;
}

h1 {
  position: absolute;
   color: #000;
    top: 100px;
     left: 50%;
      z-index: 9999;
      font-size: 220%;
margin-bottom: .2rem;
font-family: 'Roboto', sans-serif;

     }
.jquery-script-ads {
  position: absolute;
  color: #fff;
  top: 20rem;
  left: 51%;
  z-index: 9999;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
   }

.typer {
  color: #16c0f0!important;

}
.cursor{
    color: #16c0f0!important;
}

.btn btn-default {
  background-color: transparent;

  border-width: 1px;
  border-right: #16c0f0;

}
.bt{
  position: absolute;
color: #fff;
top: 24rem;
left: 55%;
z-index: 9999;
font-size: 1.2rem;

}
.bt a{
  color: #fff;
  padding: .5rem .7rem;
text-decoration: none !important;
}
.bt  a:hover{
  color: white;

  font-weight: italic;
transition-delay:1s;

}
footer {
    background: #323232 !important;
    padding: 1rem 0;
    text-align: center;
    color: white;
}

.social-links .row{
  max-width: 25%;
  margin: 0 auto;
  width: 90%;
}
.foot_clearfix{

}
.social-links{
  margin-bottom: 1rem;
}
.social-links i{
  color: white;
  font-size: 1.5rem;
    transition:  1s;

}
.social-links i:hover{
  color:#16c0f0;

  transform:rotate(360deg);



}
.foot_clearfix .logo{
  font-size: 1.5rem;
}
