html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
}
h2{
    font-family: 'Roboto', sans-serif;
}
h2:after{
  content: "";
  display: block;
  height: .2rem;
  background: #fff;
  width: 8.5rem;
  margin: auto;
  margin-top: .5rem;
  background-color: #14a58c;

}

/*========================*/
/*head start */
/*========================*/
#site-landing {
    position:relative;
    height: 40rem;
    width: 100%;
    background-image: linear-gradient(to top, #191919 0%, #000 100%);
}

.logo  p{
  position: absolute;
  color: #fff;
  top: 3rem;
  left: 2em;
  z-index: 9999;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;

}
.container p{
  position: absolute;
  color: #fff;
  top: 14rem;
  left: 40%;
  z-index: 9999;

  margin-bottom: .2rem;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;

}


.container h1{
  position: absolute;
  color: #fff;
  top: 16.5rem;
  left: 44%;
  z-index: 9999;
  font-size: 220%;
  margin-bottom: .2rem;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;


}



.log span {
    color: #16c0f0;
}

h1 {
  position: absolute;
   color: #000;
    top: 100px;
     left: 50%;
      z-index: 9999;
      font-size: 220%;
margin-bottom: .2rem;
font-family: 'Roboto', sans-serif;

     }
.jquery-script-ads {
  position: absolute;
  color: #fff;
  top: 20rem;
  left: 51%;
  z-index: 9999;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
   }

.typer {
  color: #16c0f0!important;

}
.cursor{
    color: #16c0f0!important;
}

.btn  {
  background-color: transparent;

  border-width: 1px;
  border-right: #16c0f0;

}
.bt{
  position: absolute;
color: #fff;
top: 24rem;
left: 55%;
z-index: 9999;
font-size: 1.2rem;

}
.bt a{
  color: #fff;
  padding: .5rem .7rem;
text-decoration: none !important;
}
.bt  a:hover{
  color: white;

  font-weight: italic;
transition-delay:1s;

}
.hover-1 a:hover{
  color: #16c0f0;
}
footer {
    background: #323232 !important;
    padding: 1rem 0;
    text-align: center;
    color: white;
}

.social-links .row{
  max-width: 25%;
  margin: 0 auto;
  width: 90%;
}
.foot_clearfix{

}
.social-links{
  margin-bottom: 1rem;
}
.social-links i{
  color: white;
  font-size: 1.5rem;
    transition:  1s;

}
.social-links i:hover{
  color:#16c0f0;

  transform:rotate(360deg);



}
.foot_clearfix .log{
  font-size: 1.5rem;
}
.foot_clearfix {
  padding: 2rem;
}
/* nav*/

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;

}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}
.black{
  z-index: 5100;
}

nav.black ul {
      background: #000;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}
.menu ul li a:hover {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}



/*========================*/
/*head start */
/*========================*/




/*========================*/
/* contact start*/
/*========================*/
.contact_section{
  padding: 2rem 3rem 3rem 3rem;
  background-color: #252525;
}
.card-title h2{
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.col-sm-3{
  text-align: center;
}
.col-sm-3 .card{
  background: #2c3e50;
  color: white;
  margin-bottom: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
}
.card-body i{
font-size: 3rem;
padding: 1rem;
}
.card-body h5{
font-size: 1rem;

}

/*========================*/
/* contact end*/
/*========================*/
